title: Detect Application Discovery via CommandLine
status: Developed
description: Detects usage of commands like tasklist or WMIC to enumerate running processes or application windows.
author: Amr Ashraf
logsource:
  category: process_creation
  product: windows
detection:
  selection:
    EventID: 4688
    CommandLine|contains|re:
      - 'tasklist'
      - 'wmic *process *list'
  selection2:
    EventID: 4688
    NewProcessName|endswith:
      - 'powershell.exe'
      - 'python.exe'
    CommandLine|contains:
      - 'EnumWindows'
      - 'Get-Process'
      - 'FindWindow'
  condition: selection or selection2
fields:
  - CommandLine
  - ParentImage
  - ProcessName
  - User
  - Hostname
level: medium
tags:
  - attack.discovery
  - t1010
falsepositives:
  - Legitimate administrative or monitoring activities
