# needs FP testing
title: Executable Written and Executed by Microsoft Office Applications
status: Experimental
description: Identifies an executable file written by a Microsoft Office application.
author: Amr Ashraf
logsource:
  category: file_event
  product: windows
detection:
  selection:
    EventID: 11
    file_creation:
      - TargetFileName|endswith: '.exe'
      - Image|contains:
          - 'winword.exe'
          - 'excel.exe'
          - 'powerpnt.exe'
  condition: file_creation
fields:
  - FileName
  - FilePath
  - ProcessName
  - ProcessPath
  - User
  - Hostname
level: high
tags:
  - attack.execution
  - t1204
  - t1173
falsepositives:
  - Legitimate Office processes generating and running executable files for authorized macros or scripts
  - Development or testing scenarios
