title: Boot Configuration Tampering Via Bcdedit
description: Detects the use of the bcdedit command to tamper with the boot configuration data. This technique is often times used by malware or attackers as a destructive way before launching ransomware.
status: Developed
author: Amr Ashraf
date: 2024/11/09
tags:
    - attack.impact
    - attack.t1490
logsource:
    category: process_creation
    product: windows
detection:
    process_creation:
        EventID: 4688
        Channel: Security
    selection:
        - NewProcessName|endswith: \bcdedit.exe
    selection_set:
        CommandLine|contains: set
    selection_cli1:
        - CommandLine|contains|all:
              - 'bootstatuspolicy'
              - 'ignoreallfailures'
    selection_cli2:
        - CommandLine|contains|all:
              - 'recoveryenabled'
              - 'no'
    condition: process_creation and selection and selection_set and (selection_cli1 or selection_cli2)
fields:
    - SubjectUserName
    - ComputerName
    - CommandLine
falsepositives:
    - Unlikely
level: high

