title: New Lolbin Process by Office Applications
description: This rule will monitor any office apps that spins up a new LOLBin process. This activity is pretty suspicious and should be investigated.
status: Developed
author: Amr Ashraf
date: 2024/11/09
tags:
    - attack.t1204.002
    - attack.t1047
    - attack.t1218.010
    - attack.execution
    - attack.defense-evasion
logsource:
    product: windows
    category: process_creation
detection:
    process_creation:
        EventID: 4688
        Channel: Security
    selection:
        NewProcessName|endswith:
            - \regsvr32.exe
            - \rundll32.exe
            - \msiexec.exe
            - \mshta.exe
            - \verclsid.exe
            - \msdt.exe
            - \control.exe
            - \msidb.exe
        ParentProcessName|endswith:
            - \winword.exe
            - \excel.exe
            - \powerpnt.exe
            - \msaccess.exe
            - \mspub.exe
            - \eqnedt32.exe
            - \visio.exe
            - \wordpad.exe
            - \wordview.exe
    condition: process_creation and selection
    VQL:
        LET ID_1086 = (
            (NewProcessName =~ "\\regsvr32\\.exe$" OR NewProcessName =~ "\\rundll32\\.exe$" OR NewProcessName =~ "\\msiexec\\.exe$" OR NewProcessName =~ "\\mshta\\.exe$" OR NewProcessName =~ "\\verclsid\\.exe$" OR NewProcessName =~ "\\msdt\\.exe$" OR NewProcessName =~ "\\control\\.exe$" OR NewProcessName =~ "\\msidb\\.exe$") AND
            (ParentProcessName =~ "\\winword\\.exe$" OR ParentProcessName =~ "\\excel\\.exe$" OR ParentProcessName =~ "\\powerpnt\\.exe$" OR ParentProcessName =~ "\\msaccess\\.exe$" OR ParentProcessName =~ "\\mspub\\.exe$" OR ParentProcessName =~ "\\eqnedt32\\.exe$" OR ParentProcessName =~ "\\visio\\.exe$" OR ParentProcessName =~ "\\wordpad\\.exe$" OR ParentProcessName =~ "\\wordview\\.exe$")
        )
falsepositives:
    - Unknown
level: high
