title: New Lolbin Process by Office Applications
description: This rule will monitor any office apps that spins up a new LOLBin process. This activity is pretty suspicious and should be investigated.
status: Developed
author: Amr Ashraf
date: 2024/11/09
tags:
    - attack.t1204.002
    - attack.t1047
    - attack.t1218.010
    - attack.execution
    - attack.defense-evasion
logsource:
    product: windows
    category: process_creation
detection:
    process_creation:
        EventID: 4688
        Channel: Security
    selection:
        NewProcessName|endswith:
            - \regsvr32.exe
            - \rundll32.exe
            - \msiexec.exe
            - \mshta.exe
            - \verclsid.exe
            - \msdt.exe
            - \control.exe
            - \msidb.exe
        ParentProcessName|endswith:
            - \winword.exe
            - \excel.exe
            - \powerpnt.exe
            - \msaccess.exe
            - \mspub.exe
            - \eqnedt32.exe
            - \visio.exe
            - \wordpad.exe
            - \wordview.exe
    condition: process_creation and selection
falsepositives:
    - Unknown
level: high
