title: Disabling System Proxy Settings
status: test
description: Detects modifications to disable system proxy settings, a technique used by adversaries like MuddyWater.
author: Amr Ashraf
references:
    - https://attack.mitre.org/techniques/T1562.001/
tags:
    - attack.defense_evasion
    - attack.t1562.001
logsource:
    category: process_creation
    product: windows
detection:
    selection_netsh_proxy_disable:
        Image|endswith: '\netsh.exe'
        CommandLine|contains:
            - 'winhttp reset proxy'
            - 'winhttp import proxy source=ie'
    condition: selection_netsh_proxy_disable
falsepositives:
    - Legitimate administrative changes to proxy settings
level: medium

