title: Disabling System Proxy Settings
status: test
description: Detects modifications to disable system proxy settings, a technique used by adversaries like MuddyWater.
author: Amr Ashraf
references:
    - https://attack.mitre.org/techniques/T1562.001/
tags:
    - attack.defense_evasion
    - attack.t1562.001
logsource:
    category: registry_event
    product: windows
detection:
    selection_registry_proxy_disable:
        EventType: "4657"
        TargetObject|contains:
            - 'HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\ProxyEnable'
            - 'HKLM\Software\Microsoft\Windows\CurrentVersion\Internet Settings\ProxyEnable'
            - 'HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\ProxyServer'
            - 'HKLM\Software\Microsoft\Windows\CurrentVersion\Internet Settings\ProxyServer'
        Image|contains:
            - '\powershell.exe'
            - '\cmd.exe'
            - '\mshta.exe'
            - '\temp\'
            - '\public\' 
    condition: selection_registry_proxy_disable
falsepositives:
    - Legitimate administrative changes to proxy settings
level: medium
